<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="text-align: center; background-color:grey;">
	<img src="zomato-seeklogo.com.svg"><br><br>
	<div>
		<form method="POST" action="http://localhost:1100/catagory">
			Id for delivery catagory:<input type="text" placeholder="id" name="id"><br><br>
			<button id="btn">submit</button>
		</form>
	</div>
</body>
</html>