<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body style=" background-color: grey; text-align: center; ">
	<img src="zomato-seeklogo.com.svg"><br><br>
    <div class="Geo">Geocode Data</div>
    <div class="Body">
        <form  action="http://localhost:1100/geocode" method="post">
            <div class="Head" >Inputs</div><br><br>
               latitude: <input type="text" placeholder="latitude" class="inputfrontbutton" name="latitude"><br><br>
               langitude: <input type="text" placeholder="langitude"  class="inputfrontbutton" name="langitude"><br><br>
                <input type="submit" value="submit" class="frontsubmit">
        </form>
    </div>
</body>

</html>