<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color: grey;">
	<div>
			<% for(var dict of  list) { %>
				<div style="background-color:hotpink" ><%= dict %></div><br><br>
			<% } %>
	</div>
</body>
</html>


